.photo {
  height: 400px !important;
  width: 100%;
  position: relative;
  background-image: url(./photos/standing-meeting.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.photoText {
  position:absolute;
  bottom:0;
  font-size:24px;
  font-family:"vedana";
  background:rgba(251,251,251,0.5);
  padding:10px 20px;
  width:100%;
  text-align:center;
}

.hr1 {
	border-top: 1px solid #8c8b8b;
	text-align: center;
  width: 150px;
}
.hr1:after {
	content: 'ยง';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

.cardPhoto {
  height: 200px !important;
}

.learnMore, .advice, a, .navLink {
  cursor: pointer;
}

.cards {
	display: flex !important;
	justify-content: space-around !important;
}

p {
  font-size: 12px;
}

.advice {
  color: red !important;
  font-size: 12px !important;
}

.footer {
  background-color: #797171 !important;
}

.footerCont {
  display: inline;
}

.top {
  background-color: #E3E3E3 !important;
}
